.movie-overview {
    height: 60px;
    width: 420px;
    text-align: justify;
    overflow: hidden;
    margin: 0px;
  }

  .movie-overview-exp {
    width: 420px;
    text-align: justify;
    margin: 0px;
  }