@import '../styles/_variables.scss';

.movie-page {
  @include columnDisplay();
  margin-top: 100px;
  width: 100%;

  h1 {
    @include fontStyle();
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 5px;
    line-height: 35px;
  }
  .ratings-box {
    @include rowDisplay();
      width: 150px;
      margin-bottom: 10px;
    h3 {
      margin: 0 auto;
    }
  }
}
.all-movie-info {
  @include rowDisplay();
  img {
    border: 2px solid rgb(139, 138, 138);    
    margin-right: 20px;
    width: 25em;
    height: 30em;
  }
}
.movie-content {
  @include columnDisplay();
  justify-content: flex-start;
  align-items: initial;
  line-height: 20px;
  text-align: left;
  width: 30em;
    .movie-overview {
      height: 45px;
      overflow: hidden;
    }
    p {
      margin: 5px auto;
      text-align: left;
    }

  button {
    border-radius: 6px;
    border: none;
    background: transparent;
    color: white;
    font-size: .75em;
    // margin: 5px auto;
    &:hover {
      box-shadow: 1px 1px 10px rgb(255, 255, 255);
    }
  }
}
