@import '../styles/_variables.scss';


.movie-page {
  @include rowDisplay();
  margin-top: 145px;
  width: 100%;

  img {
    border: 2px solid rgb(139, 138, 138);    
    margin-right: 20px;
    width: 25em;
    height: 30em;
  }
}

.movie-content {
  @include columnDisplay();
  width: 30em;
  margin: 20px;
  text-align: left;
  line-height: 20px;
  h1 {
    @include fontStyle();
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 0px #000;
    margin-bottom: 10px;
  }
  .ratings-box {
    @include rowDisplay();
      width: 150px;
      margin: 3px;
    h3 {
      margin: 0 auto;
    }
  }
  button {
    border-radius: 6px;
    background: red;
    @include fontStyle();
    font-size: 1.25em;
    margin: 5px auto;
    width: 125px;
    &:hover {
      box-shadow: 1px 1px 15px rgb(255, 255, 255);
    }
  }
}

.rating-input {
 @include columnDisplay();
  margin: 10px;
  input {
    @include input();
    border-radius: 4px;
    width: 125px;
  }
  
}