@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$bangersFont: 'Bangers', cursive;
$tomatoRed: red;
$slateBlack: #121212;

@mixin fontStyle() {
  font-family: $bangersFont;
  color: white;
}

@mixin columnDisplay() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin rowDisplay() {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin input {
  background: white;
  border: none;
  border-radius: 4px;
  color: $slateBlack;
  font-size: 16px;
  font-weight: bold;
  padding: 2%;
}