@import '../styles/_variables.scss';


.stars-box {
  @include rowDisplay();
  margin: 0 auto;
  .star-image {
    border: none;
    width: 1em;
    height: 1em;
    margin: 0 1px;
    box-shadow: none;
    &:hover {
      box-shadow: none;

    }
  }
}