@import '../styles/_variables.scss';

.login-box {
  @include columnDisplay();
  text-align: left;
  margin-top: 20em;

  h2 {
    @include fontStyle();
    text-align: center;
    margin-top: 120px;
    margin-bottom: 5px;
  }

  h4 {
    margin: 0px;
  }

  input {
    @include input();
    margin: 10px;
    width: 300px;
    padding: .5%;
  }

  button {
    color: white;
    background: red;
    border-radius: 6px;
    // border: none;
    margin-top: 5px;
    @include fontStyle();
    font-size: 1.25em;
    &:hover {
       box-shadow: 1px 1px 35px rgb(255, 255, 255);
    }
  }
}