@import '../styles/_variables.scss';

h2 {
  @include fontStyle;
  margin: 0 2em -2em 2em;
}

.linebreak {
  // color: red
  border-top: 1px inset $tomahtoRed;
}

.spacer {
  height: 9em;
}

.HorizontalGallery {
  display: flex;
  position: relative;
  border-bottom: red inset 3px;
  justify-content: flex-start;
  margin: .5em auto 0 auto;
  flex-direction: row;
  flex-wrap: none;
  // height: 30em;
  width: 90%;
  overflow: scroll;
  // z-index: 3;
}