@import '../styles/_variables.scss';

h2 {
  @include fontStyle;
  margin: 5em 2em -2em 2em;
}

.linebreak {
  // color: red
  border-top: 1px inset $tomahtoRed;
}

.HorizontalGallery {
  display: flex;
  border-bottom: red inset 3px;
  justify-content: start;
  margin: .5em auto -7em auto;
  flex-direction: row;
  flex-wrap: none;
  // height: 30em;
  width: 90%;
  overflow: scroll;
}