@import '../styles/_variables.scss';

.card {
  @include columnDisplay();
  justify-content: initial;
  border-radius: 6px;
  margin: 1.5em;
  width: 15em;
  
  .delete-btn {
    position: relative;
    z-index: 3;
    left: -1em;
    top: .5em;
    background: none;
    color: white;
    border: none;
    font-size: 1.5em;
  }

  .poster {
    box-shadow: 1px 1px 15px 10px black;
    width: 15em;
    z-index: 0;
    &:hover {
      border-radius: 4px;
      box-shadow: 2px 2px 25px whitesmoke;
    }
  }

  .card-info-box {
   @include columnDisplay();
   align-items: center;
   padding: 3%;
   margin: 5px;
    h4 {
      text-align: center;
      margin: 0;
    }
    h5 {
      margin: 0 auto;
    }
    .ratings-box {
      @include columnDisplay();
      width: 150px;
    }
  }

}