.card {
  margin: 1.5em;
  width: 15em;
  
  &:hover {
    border-radius: 4px;
    box-shadow: 1px 1px 35px rgb(139, 138, 138);
  }
  h4 {
    margin-right: 10px;
    overflow-wrap: normal;
  }
  img {
    width: 15em;
    height: 20em;
  }
  .quick-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
}