@import '../styles/_variables.scss';

nav {
  @include columnDisplay();

  h3 {
    font-family: $bangersFont;
    font-size: 30px;
    text-shadow: 2px 2px #000;
    margin: 0 auto;
  }

  .button-box {
    @include rowDisplay();
    justify-content: flex-end;
    width: 250px;
    margin-right: 5px;
    .nav-btn {
      background: $slateBlack;
      border-top: 1px solid white;
      border-left: 1px solid white;
      border-radius: 6px;
      @include fontStyle();
      font-size: 1.3em;
      text-decoration: none;
      text-align: center;
      margin: 5px 3px;
      padding: 2%;
        &:hover {
          box-shadow: 1px 1px 35px rgb(255, 255, 255);
        }
    }
  }
}