@import '../styles/_variables.scss';

.trailerList {
  @include rowDisplay();
  justify-content: initial;
  align-items: center;
  overflow: scroll;
  width: 375px;
  height: 250px;
  padding: 1%;
}

.movie-trailer {
  border: 1px solid red;
  margin: 5px;
}